.icon{
  font-size: 20px;
  color: #ffffff;
  &Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background-color: #4e0082;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 1px 1px #666666;
    &:hover{
      box-shadow: 0 0 2px 2px #666666;
    }
  }
}
