
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600&display=swap');


@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturiGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturiGothic/CenturyGothic.woff') format('woff'), url('../fonts/CenturiGothic/CenturyGothic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturiGothicBold/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturiGothicBold/CenturyGothic-Bold.woff') format('woff'), url('../fonts/CenturiGothicBold/CenturyGothic-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NewBaskervilleStd-Roman';
  src: url('../fonts/NewBaskerville/NewBaskervilleStd-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NewBaskerville/NewBaskervilleStd-Roman.woff') format('woff'), url('../fonts/NewBaskerville/NewBaskervilleStd-Roman.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}



$Roboto:  'Roboto', sans-serif;
$IBM:  'IBM Plex Sans', sans-serif;
$Centuri: 'CenturyGothic', sans-serif;
$NewBaskerville: 'NewBaskervilleStd-Roman', sans-serif;
