
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900');

@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturiGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturiGothic/CenturyGothic.woff') format('woff'), url('../fonts/CenturiGothic/CenturyGothic.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturiGothicBold/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/CenturiGothicBold/CenturyGothic-Bold.woff') format('woff'), url('../fonts/CenturiGothicBold/CenturyGothic-Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NewBaskervilleStd-Roman';
  src: url('../fonts/NewBaskerville/NewBaskervilleStd-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NewBaskerville/NewBaskervilleStd-Roman.woff') format('woff'), url('../fonts/NewBaskerville/NewBaskervilleStd-Roman.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
