.location {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin-top: -1px;
  border: solid 1px lightgrey;
  background-color: white;

  &Wrapper {
    position: relative;
  }

  &DropItem {
    padding: 5px 20px;
    font-size: 15px;
    color: #767676;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #ebeeef;
    }
  }

  &DropItemIcon {
    margin-right: 20px;
    font-size: 24px;
    color: lightgrey;
  }
}
